body
  font-family: 'Outfit', sans-serif
  font-size: 15px

.qr-code-wrapper
  position: relative
  width: 100%
  height: 100%
  padding: 30px
  text-align: center
  overflow: hidden

  &::before
    content: ''
    position: absolute
    background: #3685fe
    border-radius: 50%
    width: 125%
    height: 125%
    left: -60%
    top: -80%

  &::after
    content: ''
    position: absolute
    background: #3685fe
    border-radius: 50%
    width: 125%
    height: 125%
    right: -70%
    bottom: -80%

  .qr-code
    position: relative
    z-index: 2
